.App {
  /* text-align: center; */  
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;  
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
}



#high-level-conjecture {
  padding: 20px;
}

#high-level-conjecture-input {
  width: 90%;
}

#columns {
  display: flex;   
  justify-content: space-between;
  padding: 20px;
  height: 50%;
}

.column {
  width: 30%;    
}

.column-items {
  border: 1px solid grey;
  min-height: 200px;  
  display: flex;
  flex-direction: column;
}

.statement-list {
  list-style-type:none;
  padding-left: 15px;
}

